.git
.gitignore
.env
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/server-dist
**/firmware
**/.cache
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/__pycache__
**/.bloop
**/.metals
**/.scala-build
**/target
*.log
